<footer class="site-footer">
    <div class="footer-icons">

      <a href="mailto:pkammar1@jh.edu" target="_blank" aria-label="Email">
        <img src="/icons/gmail.svg" alt="Email" />
      </a>

      <a href="https://www.researchgate.net/profile/Prajwal-Kammardi-Arunachala?ev=hdr_xprf" target="_blank" aria-label="ResearchGate">
        <img src="/icons/researchgate.svg" alt="ResearchGate" />
      </a>

      <a href="https://scholar.google.com/citations?user=S51LxxsAAAAJ&hl=en" target="_blank" aria-label="Google Scholar">
        <img src="/icons/googlescholar.svg" alt="Google Scholar" />
      </a>

      <a href="https://www.linkedin.com/in/prajwal-kammardi-arunachala-63b486a0/" target="_blank" aria-label="LinkedIn">
        <img src="/icons/linkedin.svg" alt="LinkedIn" />
      </a>

    </div>
    <div class="footer-text">
      &copy; Prajwal Kammardi Arunachala. All rights reserved. Updated on Oct 8, 2025.
    </div>
</footer>