<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>{{ page.title }} | {{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
  <link href="https://fonts.googleapis.com/css2family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap" rel="stylesheet">
  <link href="https://fonts.cdnfonts.com/css/computer-modern" rel="stylesheet">
  <script src="script.js"></script>
</head>
<body>
  {% include header.html %}
  <main>
    {{ content }}
  </main>
</body>
</html>
